@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+WAL:wght@100..400&display=swap');


*{
    margin: 0;
    padding: 0;
}

/* Font List Style */

.inter-font{
    font-family: "Inter", sans-serif;
}

header{
    background: linear-gradient(220.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%), rgba(17, 17, 17, 90%);
    padding: 57px 190px;
    max-width: 1440px;
    max-height: 615px;
}

body{
    background-color: black;
}

/* header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    max-width: 1440px;
    max-height: 715px;
} */


/* Nav style start */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav ul{
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.8rem;
}

ul li{
    list-style: none;
    margin-right: 47px;

    
}

ul li a{
    text-decoration: none;
    color: white;
}

.nav-logo{
    color: rgb(230, 83, 60);
    font-size: 2.1rem;
    font-weight: 800;
}

#home-btn{
    padding: 0.5rem 1.1rem;
    color: white;
    border-radius: 2.8rem;
}

/* nav style end */


/* color list */

.main-orange{
    color: rgb(230, 83, 60);
}

.main-orange-bg{
    background-color: rgb(230, 83, 60);
}

.white{
    color: white;
}

.black-bg{
    background-color: black;
}

.black{
    color: black;
}


/* banner style start */

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner-text{
    width: 520px;
    height: 281px;
    position: relative;
    top: -120px;

}

.banner-h2{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
}

.banner-p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

#shape{
    font-family: "Playwrite BE WAL", cursive;
}

.space{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.space2{
    margin-right: 1rem;
}

.primary-btn{
    padding: 1rem 2.5rem;
    border-radius: 2.6rem;
    border: none;
    
}

#btn1{
    margin-right: 1rem;
}

#btn2{
    border: 1px solid white;
}

.banner-img img{
    position: relative;
    width: 349px;
    height: 580px;
    left: 2px;
    top: 40px;
}


.box{
    width: 150px;
    padding: 20px;
    color: white;
 
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    align-items: center;
    position: relative;
    bottom: 130px;
    left: -100px;

}

.box2{
    width: 140px;
    padding: 20px;
    color: white;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    align-items: center;
    position: relative;
    bottom: 500px;
    left: 200px;

}

.circle{
    width: 40px;
    height: 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
}

.box p, .box2 p{
    color: rgba(255, 255, 255, 0.65);
font-family: Inter;
font-size: 13px;
font-weight: 400;
}

.bars{
    display: none;
}

.btn-class2{
    display: none;
}



/* Section 2 Started */

.title-text{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 3rem;
    font-weight: 900;
   
}

.description-text{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;

}

.habit-section{
    width: 1044px;
    height: 452px;
    /* border: 1px solid red; */
    margin: 0 auto;
    padding-top: 100px;
    background-color: black;
}

.habits{
    background-color: black;
}

.cards{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 60px;
    
}

.image-card{
    text-align: center;
    width: 180px;
    height: 180px;
 
}

.round-img{
            width: 100%;
            height: auto;
            border-radius: 50%;
            margin-bottom: 20px;
            border: 3px solid rgba(48, 48, 48, 0.54);

}

.card-h3{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
}

.card-p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}


/* Section 2 End */



.single-cards{
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    max-width: 1044px;
    max-height: 341px;
    margin: 0 auto;
    justify-content: space-between;
}

.card-item{
    display: flex;
}

.right-side img{
    width: 366px;
    height: 300px;
    border-radius: 20px;
}

.right-side{
    padding: 60px 30px 60px 0;
}

.left-side{
    height: 290px;
    width: 443px;
    padding: 40px;
    margin: auto 0;
}



@media screen and (max-width: 576px) {

    header{
        background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%), rgba(17, 17, 17, 90%);
        margin: 0;
        padding: 30px;
        max-width: 393px;
        min-height: 974px;
    }



    .nav-menu ul{
        display: none;
    }

    .nav-logo{
        color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    line-height: 120%;
    }

    .bars{
        display: block;
        margin-right: 20px;
    }

    .banner{
        display: block;

    
    }

    .banner-text{
        max-width: 285px;
        height: 129px;
        position: relative;
        top: 50px;
    
    }

    .banner-h2{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 36px;
        font-weight: 900;
    }
    
    .banner-p{
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.5px;
    }
    
    .banner-img img{
        position: relative;
        width: 100%;
        height: 580px;
        left: 2px;
        top: 200px;
    }


    .box{
        width: 150px;
        padding: 20px;
        color: white;
     
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(20px);
        background: rgba(48, 48, 48, 0.54);
        display: flex;
        align-items: center;
        position: relative;
        bottom: 130px;
        left: -10px;
    
    }
    
    .box2{
        width: 140px;
        padding: 20px;
        color: white;
    
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(20px);
        background: rgba(48, 48, 48, 0.54);
        display: flex;
        align-items: center;
        position: relative;
        bottom: 385px;
        left: 180px;
    
    }

    
    .circle{
        width: 40px;
        height: 40px;
        background-color: rgb(230, 83, 60);
        border-radius: 50%;
    }
    
    .box p, .box2 p{
        color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    }

    .primary-btn{
        padding: 16px 40px;
        border-radius: 2.6rem;
        border: none;
        
    }



    .btn-class{
        display: none;
    }
    .btn-class2{
        display: flex;
        position: relative;
        top: 180px;
    }


    .habit-section{
        width: auto;
        height: 1400px;
        /* border: 1px solid red; */
        padding-top: 10px;
        background-color: black;
    }

    .title-text{
        font-size: 32px;
        font-weight: 900;
    }


    .cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
        margin-top: 2px;
        
    }
    
    .image-card{
        text-align: center;
        width: 180px;
        height: 180px;
        margin: 60px auto;
     
    }

    .card-h3{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
    }
    
    .card-p{
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
    }


    .single-cards{
        border-radius: 18px;
        background: rgb(34, 34, 34);
        display: block;
        align-items: center;
        max-width: auto;
        max-height: 700px;
        margin: 0 auto;
        justify-content: space-between;
    }
    
    .card-item{
        display: flex;
    }
    
    .right-side img{
        width: 100%;
        border-radius: 20px;
        margin: 0 auto;
    }
    
    .right-side{
        padding: 0 45px 45px 45px;
    }
    
    .left-side{
        height: 290px;
        max-width: 350;
        padding: 40px;
        margin: auto 0;
    }
    
    .tcenter{
        text-align: center;
    }
    
    #btnx{
        text-align: center;
        padding: 20px 125px;
    }

}